@import "components/variables";

// style general
* {
    @include reset
}

// style body
body {
    font-family: 'Oxygen', sans-serif;
    background-color: $c-blk;
}

// style nav
.change-color:hover {
    color: $c-org;
    transition: opacity 0.25s ease, transform 0.25s ease, width 0.3s cubic-bezier(0.68, 0.05, 0.46, 1.02), left 0.2s 0.2s ease-out;
}
.bi-heart-pulse {
    font-size: 2rem;
    color: $c-org;
}

// style cards
.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
  }
  .cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .cards h2{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }