@import "components/variables";

// style general
* {
    @include reset
}

// style body
body {
    font-family: 'Oxygen', sans-serif;
    background-color: #ffffff;
}

// style nav
.bi-heart-pulse {
    font-size: 2rem;
    color: $c-org;
}

.change-color:hover {
    color: $c-org;
    transition: $nav-animate;
}

// style main
main {
    .flexgrid-video-home {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .video-cont-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGQzZGI2ZmIyOTg4MWY3MDYzNzc5Mjk2YzAwMzFiMmFjNGM1OTQ4NSZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/MaJU1YQ6B5YVnf39Ie/giphy.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin: 10px;
            height: 300px;

            h1 {
                text-align: center;
                flex: none;
                justify-content: center;
                color: white;
                background-color: $c-org;
            }

            .div-cont-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    text-align: center;
                    align-items: center;
                    color: white;
                    text-shadow: 1px 2px 3px black;
                }
            }
        }
    }

    .container-galery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50%;
        margin: 10px;
        gap: 10px;
        height: 300px;
        grid-auto-flow: row;
        .bg-1 {
            display: grid;
            grid-template-columns: 0.6fr 1.8fr 0.6fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-area: 1 / 1 / 2 / 2;
            background-image: url(https://images.unsplash.com/photo-1601745398552-debacfca634c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fGVqZXJjaWNpb3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60);
            .title-g-1 {
                grid-area: 2 / 2 / 3 / 3;
                color: $c-org;
                text-align: center;
            }
        }
    
        .bg-2 {
            display: grid;
            grid-template-columns: 0.7fr 1.7fr 0.6fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-area: 1 / 2 / 2 / 3;
            background-image: url(https://images.unsplash.com/photo-1556817411-31ae72fa3ea0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fGVqZXJjaWNpb3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60);
            .text-g-2 {
                grid-area: 2 / 2 / 3 / 3;
                color: $c-org;
                text-align: center;
            }
        }
    
        .bg-3 {
            display: grid;
            grid-template-columns: 0.7fr 1.6fr 0.7fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-area: 1 / 3 / 2 / 4;
            background-image: url(https://images.unsplash.com/photo-1571019613914-85f342c6a11e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njh8fGVqZXJjaWNpb3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60);
            .text-g-3 {
                grid-area: 2 / 2 / 3 / 3;
                color: $c-org;
                text-align: center;
            }
        }
    
    }
}

@media (min-width: 320px) and (max-width: 425px) {

    main .flexgrid-video-home .video-cont-text {
        height: 400px;
    }

    main .flexgrid-video-home .video-cont-text div p {
        font-size: 15px;
        width: 200px;
    }



}