@import "components/variables";

// style general
* {
    @include reset
}

// style body
.bg-body-gradient {
    font-family: 'Oxygen', sans-serif;
    background: #000000;
    background-repeat: no-repeat;
    height: auto;
}

// style nav
.btn-style-nav {
    @include btn-style-nav();
}

.btn-style-nav:hover {
    @include btn-color-nav-hover();
    transition: opacity 0.25s ease, transform 0.25s ease, width 0.3s cubic-bezier(0.68, 0.05, 0.46, 1.02), left 0.2s 0.2s ease-out;
}

.bi-heart-pulse {
    font-size: 2rem;
    color: $color-orang;
}

// style main

.grid-welcome {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .grid-text-welcome { 
    @include center;
    grid-area: 1 / 2 / 2 / 3; 
}
  


.span-title {
    background-color: $color-orang;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    transition: .5s;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.line-shadow {
    border: 2px solid gray;
}

.grid-p-welcome {
    @include center;
}


// Media queries

@media (min-width: 320px) and (max-width: 425px) {

    .grid-welcome {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .grid-nav {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .grid-welcome {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .grid-nav {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {

    .grid-welcome {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .grid-nav {
        width: 100%;
    }
}

@media (min-width: 1400px) {

    .grid-nav {
        width: 90%;
    }
}