@import "./variables";

.conteiner-his{
    @include center;
    flex-direction: column;
    h1{
        color: $c-org;
    }
    p{
        padding: 20px;
        border: .5px $c-org solid;
        background-color: whitesmoke;
    }
}