// varible body
$bg-body-color: #4158D0;
$bg-body-gradient: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );

// variables nav 
$color-orang: #ffc107;
$btn-color-nav:#000000;
$btn-color-nav-hover:#ffc107;
$btn-color-nav-up:uppercase;
$btn-color-nav-hover-bold:bold;
$bg-img-nav:url("paper.gif");
$bg-img-nav-op:0.3;