// variables nav 
$color-orang: #ffc107;
$btn-color-nav: #000000;
$btn-color-nav-hover: #ffc107;
$btn-color-nav-up: uppercase;
$btn-color-nav-hover-bold: bold;
$bg-img-nav: url("paper.gif");
$bg-img-nav-op: 0.3;

// @media breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


// mixins

// mixin general
@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// mixin nav
@mixin btn-style-nav {
    color: $btn-color-nav;
    font-weight: $btn-color-nav-hover-bold;
    text-transform: $btn-color-nav-up;
    transition: transform .5s;
}

@mixin btn-color-nav-hover {
    color: $btn-color-nav-hover;
}

// center variables
@mixin center {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}