// variables nav 
$c-org: #ffc107;
$c-blk: #171717;
$nav-animate: opacity 0.25s ease, transform 0.25s ease, width 0.3s cubic-bezier(0.68, 0.05, 0.46, 1.02), left 0.2s 0.2s ease-out;


// mixin general
@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// mixin nav
@mixin center {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

@mixin bgcenter {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


// extend